In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
carriers=pd.read_csv("carriers.csv")
carriers_df=DataFrame(carriers)
#carriers_df.set_index('Code', inplace=True)
carriers_df.head()

  Code                    Description
0  02Q                  Titan Airways
1  04Q             Tradewind Aviation
2  05Q            Comlux Aviation, AG
3  06Q  Master Top Linhas Aereas Ltd.
4  07Q            Flair Airlines Ltd.

In [3]:
carriers_dict=carriers_df.to_dict()
print 'XBT' in carriers_dict['Description']

True

In [16]:
carriers_dic={}
for row in carriers_df.itertuples(index=False):
    carriers_dic[row[0]] = row[1]

print carriers_dic['WN']

Southwest Airlines Co.

In [158]:
#Change This!!!
#flights = pd.read_csv("2002.csv")
flights.keys()
flights.head(30)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2002,1,13,7,2231.0,2235,2342.0,2353,US,723,...,3,13,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2002,1,14,1,2230.0,2235,2347.0,2353,US,723,...,3,14,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2002,1,15,2,2230.0,2235,2342.0,2353,US,723,...,3,14,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2002,1,16,3,2230.0,2235,2340.0,2353,US,723,...,3,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2002,1,17,4,2227.0,2235,2345.0,2353,US,723,...,5,13,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5,2002,1,18,5,2227.0,2235,2346.0,2353,US,723,...,5,15,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2002,1,19,6,2234.0,2235,2347.0,2353,US,723,...,4,13,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7,2002,1,20,7,2233.0,2235,2346.0,2353,US,723,...,5,9,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2002,1,21,1,2228.0,2235,2341.0,2353,US,723,...,4,12,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2002,1,22,2,2230.0,2235,2351.0,2353,US,723,...,5,13,0,NaN,0,NaN,NaN,NaN,NaN,NaN
10,2002,1,23,3,2228.0,2235,2346.0,2353,US,723,...,5,11,0,NaN,0,NaN,NaN,NaN,NaN,NaN
11,2002,1,24,4,2230.0,2235,2349.0,2353,US,723,...,4,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN
12,2002,1,25,5,2225.0,2235,2340.0,2353,US,723,...,4,16,0,NaN,0,NaN,NaN,NaN,NaN,NaN
13,2002,1,26,6,2232.0,2235,2339.0,2353,US,723,...,8,9,0,NaN,0,NaN,NaN,NaN,NaN,NaN
14,2002,1,27,7,2231.0,2235,2341.0,2353,US,723,...,4,14,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15,2002,1,28,1,2232.0,2235,2338.0,2353,US,723,...,3,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN
16,2002,1,29,2,2229.0,2235,2337.0,2353,US,723,...,3,11,0,NaN,0,NaN,NaN,NaN,NaN,NaN
17,2002,1,30,3,2231.0,2235,2341.0,2353,US,723,...,4,12,0,NaN,0,NaN,NaN,NaN,NaN,NaN
18,2002,1,31,4,2237.0,2235,2349.0,2353,US,723,...,7,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN
19,2002,1,6,7,740.0,745,906.0,912,US,724,...,7,14,0,NaN,0,NaN,NaN,NaN,NaN,NaN
20,2002,1,7,1,744.0,745,904.0,912,US,724,...,8,11,0,NaN,0,NaN,NaN,NaN,NaN,NaN
21,2002,1,8,2,742.0,745,913.0,912,US,724,...,9,15,0,NaN,0,NaN,NaN,NaN,NaN,NaN
22,2002,1,9,3,740.0,745,914.0,912,US,724,...,6,15,0,NaN,0,NaN,NaN,NaN,NaN,NaN
23,2002,1,10,4,740.0,745,910.0,912,US,724,...,6,11,0,NaN,0,NaN,NaN,NaN,NaN,NaN
24,2002,1,11,5,744.0,745,911.0,912,US,724,...,6,16,0,NaN,0,NaN,NaN,NaN,NaN,NaN
25,2002,1,12,6,740.0,745,905.0,912,US,724,...,7,14,0,NaN,0,NaN,NaN,NaN,NaN,NaN
26,2002,1,13,7,805.0,745,948.0,912,US,724,...,6,33,0,NaN,0,NaN,NaN,NaN,NaN,NaN
27,2002,1,14,1,759.0,745,939.0,912,US,724,...,7,31,0,NaN,0,NaN,NaN,NaN,NaN,NaN
28,2002,1,15,2,743.0,745,906.0,912,US,724,...,5,11,0,NaN,0,NaN,NaN,NaN,NaN,NaN
29,2002,1,16,3,739.0,745,905.0,912,US,724,...,5,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [150]:
grouped = flights.groupby(["UniqueCarrier"], as_index=False)
count_groups = grouped['AirTime'].count()
count_groups.rename(columns={'AirTime':'Flight Count'},inplace=True)
delays = flights.groupby(['UniqueCarrier','CancellationCode'],as_index=False)['Month'].count()
delays.rename(columns={'Month':'Delay Type'}, inplace=True)
summed_groups=DataFrame(grouped[['AirTime','DepDelay','ArrDelay','Distance','CarrierDelay','NASDelay','Cancelled']].sum())

print len(count_groups),count_groups.head()
print len(summed_groups), summed_groups.head()
print delays.head()

10   UniqueCarrier  Flight Count
0            AA        841164
1            AS        154990
2            CO        323425
3            DL        719553
4            HP        193886
10   UniqueCarrier      AirTime   DepDelay   ArrDelay   Distance  CarrierDelay  \
0            AA  111826110.0  3770725.0   995020.0  845801567           NaN
1            AS   17220063.0  1144349.0   838229.0  126360807           NaN
2            CO   45367888.0   821796.0   742983.0  340771758           NaN
3            DL   77358267.0  4011043.0  4110302.0  571459930           NaN
4            HP   24598944.0  1216779.0   480639.0  185726579           NaN

   NASDelay  Cancelled
0       NaN       9621
1       NaN       3553
2       NaN       1297
3       NaN       8065
4       NaN       2023
Empty DataFrame
Columns: [UniqueCarrier, CancellationCode, Delay Type]
Index: []

In [151]:
delays_final=DataFrame(delays.pivot(index='UniqueCarrier',columns='CancellationCode'))
print len(delays_final), delays_final.head()

0 Empty DataFrame
Columns: []
Index: []

In [152]:
merged = DataFrame(pd.merge(count_groups,summed_groups, on="UniqueCarrier", copy=False))
merged = pd.merge(merged, delays_final, left_on="UniqueCarrier", right_index=True)
print merged.head(),len(merged)

Empty DataFrame
Columns: [UniqueCarrier, Flight Count, AirTime, DepDelay, ArrDelay, Distance, CarrierDelay, NASDelay, Cancelled]
Index: [] 0

## CHANGE THIS YEAR

In [153]:
print merged.keys()
better_codes = merged['UniqueCarrier'].map(carriers_dic)
merged['UniqueCarrier'] = better_codes
merged['Year']= 2002
merged.head()

Index([u'UniqueCarrier', u'Flight Count', u'AirTime', u'DepDelay', u'ArrDelay',
       u'Distance', u'CarrierDelay', u'NASDelay', u'Cancelled'],
      dtype='object')

Empty DataFrame
Columns: [UniqueCarrier, Flight Count, AirTime, DepDelay, ArrDelay, Distance, CarrierDelay, NASDelay, Cancelled, Year]
Index: []

## CHANGE THIS FILE

In [154]:
merged.to_csv("final_2002.csv",index=False)

In [13]:
y2008 = pd.read_csv("final_2008.csv")
y2007 = pd.read_csv("final_2007.csv")
y2006 = pd.read_csv("final_2006.csv")
y2005 = pd.read_csv("final_2005.csv")
y2004 = pd.read_csv("final_2004.csv")
y2003 = pd.read_csv("final_2003.csv")

In [14]:
total_merged = pd.concat([y2003,y2004,y2005,y2006,y2007,y2008])
print len(total_merged)

117

In [16]:
grouped=total_merged.groupby(["UniqueCarrier","Year"])

In [20]:
final_pivot=DataFrame(pd.pivot_table(total_merged,index=["UniqueCarrier"],columns=["Year"],aggfunc=sum,margins=True))

In [23]:
grouped.sum()

                                                         Flight Count  \
UniqueCarrier                                      Year
ATA Airlines d/b/a ATA                             2003         68265
                                                   2004         74791
                                                   2005         43586
                                                   2006         19365
AirTran Airways Corporation                        2003        142817
                                                   2004        160238
                                                   2005        192468
                                                   2006        235211
                                                   2007        259869
                                                   2008        258713
Alaska Airlines Inc.                               2003        157602
                                                   2004        162825
                                                   2005        155022
                                                   2006        156483
                                                   2007        157123
                                                   2008        148492
Aloha Airlines Inc.                                2006         34627
                                                   2007         45957
                                                   2008          7752
America West Airlines Inc. (Merged with US Airw... 2003        187266
                                                   2004        192541
                                                   2005        195120
American Airlines Inc.                             2003        738567
                                                   2004        684502
                                                   2005        662100
                                                   2006        631769
                                                   2007        613836
                                                   2008        585485
American Eagle Airlines Inc.                       2003        414902
                                                   2004        464457
...                                                               ...
Northwest Airlines Inc.                            2005        472740
                                                   2006        427167
                                                   2007        405872
                                                   2008        344110
Pinnacle Airlines Inc.                             2007        250186
                                                   2008        254322
Skywest Airlines Inc.                              2003        389763
                                                   2004        452866
                                                   2005        506998
                                                   2006        534625
                                                   2007        582871
                                                   2008        553412
Southwest Airlines Co.                             2003        947231
                                                   2004        978520
                                                   2005       1025637
                                                   2006       1088617
                                                   2007       1156958
                                                   2008       1186911
US Airways Inc. (Merged with America West 9/05.... 2003        404988
                                                   2004        412376
                                                   2005        416461
                                                   2006        498314
                                                   2007        475583
                                                   2008        446086
United Air Lines Inc.                              2003        537178
                                                   2004        548264
                                                   2005        478744
                                                   2006        488682
                                                   2007        477090
                                                   2008        437979

                                                             AirTime  \
UniqueCarrier                                      Year
ATA Airlines d/b/a ATA                             2003   10278213.0
                                                   2004   11088223.0
                                                   2005    6283330.0
                                                   2006    3619749.0
AirTran Airways Corporation                        2003   12536740.0
                                                   2004   14612895.0
                                                   2005   18213828.0
                                                   2006   22275007.0
                                                   2007   25941349.0
                                                   2008   26915564.0
Alaska Airlines Inc.                               2003   18282454.0
                                                   2004   19315880.0
                                                   2005   18711301.0
                                                   2006   19330085.0
                                                   2007   19523921.0
                                                   2008   19577519.0
Aloha Airlines Inc.                                2006    2113257.0
                                                   2007    2857873.0
                                                   2008     479657.0
America West Airlines Inc. (Merged with US Airw... 2003   24918610.0
                                                   2004   26691792.0
                                                   2005   26478975.0
American Airlines Inc.                             2003  102667961.0
                                                   2004   99416289.0
                                                   2005   94330080.0
                                                   2006   90708933.0
                                                   2007   87445802.0
                                                   2008   83023691.0
American Eagle Airlines Inc.                       2003   23901658.0
                                                   2004   28169204.0
...                                                              ...
Northwest Airlines Inc.                            2005   50524613.0
                                                   2006   46065391.0
                                                   2007   44249534.0
                                                   2008   38840572.0
Pinnacle Airlines Inc.                             2007   17819046.0
                                                   2008   18087026.0
Skywest Airlines Inc.                              2003   50134199.0
                                                   2004   45038853.0
                                                   2005   31488368.0
                                                   2006   34466728.0
                                                   2007   40075342.0
                                                   2008   38486157.0
Southwest Airlines Co.                             2003   76921586.0
                                                   2004   82055879.0
                                                   2005   89969212.0
                                                   2006   97213848.0
                                                   2007  104191345.0
                                                   2008  108958467.0
US Airways Inc. (Merged with America West 9/05.... 2003   39191573.0
                                                   2004   40549570.0
                                                   2005   41245827.0
                                                   2006   58408068.0
                                                   2007   55616805.0
                                                   2008   53474220.0
United Air Lines Inc.                              2003   73663765.0
                                                   2004   77385867.0
                                                   2005   69565580.0
                                                   2006   71330736.0
                                                   2007   69030901.0
                                                   2008   63520170.0

                                                           DepDelay  \
UniqueCarrier                                      Year
ATA Airlines d/b/a ATA                             2003    327166.0
                                                   2004    370663.0
                                                   2005    197806.0
                                                   2006    249165.0
AirTran Airways Corporation                        2003    988221.0
                                                   2004   1602802.0
                                                   2005   2936370.0
                                                   2006   2586282.0
                                                   2007   2354142.0
                                                   2008   2403285.0
Alaska Airlines Inc.                               2003    916855.0
                                                   2004   1468593.0
                                                   2005   2106401.0
                                                   2006   1473647.0
                                                   2007   1691897.0
                                                   2008   1020350.0
Aloha Airlines Inc.                                2006     -3908.0
                                                   2007     20168.0
                                                   2008    -10844.0
America West Airlines Inc. (Merged with US Airw... 2003   1092074.0
                                                   2004   1553263.0
                                                   2005   1299227.0
American Airlines Inc.                             2003   3459811.0
                                                   2004   6196410.0
                                                   2005   6307716.0
                                                   2006   6776914.0
                                                   2007   9066828.0
                                                   2008   7802966.0
American Eagle Airlines Inc.                       2003   2089144.0
                                                   2004   3943791.0
...                                                             ...
Northwest Airlines Inc.                            2005   3716396.0
                                                   2006   3005005.0
                                                   2007   3630596.0
                                                   2008   2228375.0
Pinnacle Airlines Inc.                             2007   2285792.0
                                                   2008   1726803.0
Skywest Airlines Inc.                              2003   2125532.0
                                                   2004   2982997.0
                                                   2005   2941282.0
                                                   2006   4729541.0
                                                   2007   4848850.0
                                                   2008   4137595.0
Southwest Airlines Co.                             2003   6360097.0
                                                   2004   9955591.0
                                                   2005  10423665.0
                                                   2006  11224333.0
                                                   2007  12094777.0
                                                   2008  12349540.0
US Airways Inc. (Merged with America West 9/05.... 2003   1693836.0
                                                   2004   2830401.0
                                                   2005   3515474.0
                                                   2006   3939983.0
                                                   2007   5787520.0
                                                   2008   2556181.0
United Air Lines Inc.                              2003   2512578.0
                                                   2004   3978918.0
                                                   2005   4612759.0
                                                   2006   5831704.0
                                                   2007   6648458.0
                                                   2008   6196282.0

                                                          ArrDelay   Distance  \
UniqueCarrier                                      Year
ATA Airlines d/b/a ATA                             2003   338567.0   78977471
                                                   2004   416674.0   84723441
                                                   2005   201896.0   47556475
                                                   2006   305400.0   28193870
AirTran Airways Corporation                        2003  1194817.0   86251075
                                                   2004  1250320.0  101743795
                                                   2005  2765071.0  127526045
                                                   2006  2221505.0  154760543
                                                   2007  2062820.0  182646240
                                                   2008  2352057.0  190280649
Alaska Airlines Inc.                               2003   500808.0  134600560
                                                   2004  1081262.0  143215203
                                                   2005  1894437.0  138031164
                                                   2006  1428443.0  141610317
                                                   2007  1455397.0  143155532
                                                   2008   713407.0  144742019
Aloha Airlines Inc.                                2006   -22367.0   14781351
                                                   2007   -63278.0   19882075
                                                   2008   -22393.0    3324846
America West Airlines Inc. (Merged with US Airw... 2003   573321.0  189239126
                                                   2004  1332268.0  203622782
                                                   2005   652913.0  200373825
American Airlines Inc.                             2003  2368834.0  784930194
                                                   2004  5574326.0  767069407
                                                   2005  5503199.0  722852274
                                                   2006  6063887.0  693419014
                                                   2007  8864939.0  675105592
                                                   2008  7381323.0  637069849
American Eagle Airlines Inc.                       2003  1758908.0  143263376
                                                   2004  4292464.0  176625169
...                                                            ...        ...
Northwest Airlines Inc.                            2005  4172096.0  365044151
                                                   2006  3439998.0  330962751
                                                   2007  5097404.0  318162390
                                                   2008  2535588.0  279436146
Pinnacle Airlines Inc.                             2007  2036098.0  116904239
                                                   2008  1045552.0  118168788
Skywest Airlines Inc.                              2003   891621.0  130128864
                                                   2004  1721053.0  158682290
                                                   2005  1951749.0  195573943
                                                   2006  4383532.0  216557423
                                                   2007  5151931.0  254654475
                                                   2008  3651902.0  243546417
Southwest Airlines Co.                             2003  1954955.0  533593672
                                                   2004  6141453.0  570071702
                                                   2005  5472277.0  628492880
                                                   2006  5490413.0  682975022
                                                   2007  6331983.0  735264809
                                                   2008  6147817.0  763307895
US Airways Inc. (Merged with America West 9/05.... 2003  1710304.0  274720596
                                                   2004  1847023.0  284748509
                                                   2005  2765386.0  288955635
                                                   2006  3303384.0  424539071
                                                   2007  5482173.0  404932885
                                                   2008  1270502.0  388224541
United Air Lines Inc.                              2003  1672723.0  565395453
                                                   2004  3276400.0  592067318
                                                   2005  3619476.0  532116122
                                                   2006  5132362.0  548162230
                                                   2007  6084387.0  529872242
                                                   2008  4945362.0  484785762

                                                         CarrierDelay  \
UniqueCarrier                                      Year
ATA Airlines d/b/a ATA                             2003       89336.0
                                                   2004      153833.0
                                                   2005       85269.0
                                                   2006       77066.0
AirTran Airways Corporation                        2003      147797.0
                                                   2004      263475.0
                                                   2005      462075.0
                                                   2006      426747.0
                                                   2007      502204.0
                                                   2008      443708.0
Alaska Airlines Inc.                               2003      297576.0
                                                   2004      662726.0
                                                   2005      987295.0
                                                   2006      660493.0
                                                   2007      722012.0
                                                   2008      481833.0
Aloha Airlines Inc.                                2006       58383.0
                                                   2007       77812.0
                                                   2008        8727.0
America West Airlines Inc. (Merged with US Airw... 2003      363153.0
                                                   2004      733489.0
                                                   2005      602806.0
American Airlines Inc.                             2003     1230662.0
                                                   2004     2101534.0
                                                   2005     2086897.0
                                                   2006     2169731.0
                                                   2007     2700300.0
                                                   2008     2821907.0

In [22]:
final_pivot.to_csv("final_pivot.csv")